.layout {
    width: 100%;
  
    display: grid;
    grid:
      "sidebar body1 body2" 1fr
      / auto 1fr 1fr;
    gap: 8px;
  }
  
  .sidebar { grid-area: sidebar; }
  .body1 { grid-area: body1; }
  .body2 { grid-area: body2; }