.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar header header" 0.001fr
    "sidebar body_1 body_2" 1fr
    / 0.5fr 1.5fr 1.5fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; }
.header { grid-area: header; }
.body_1 { grid-area: body_1; }
.body_2 { grid-area: body_2; }